<div id="nogisoftworks_plus">
    <img src="/static/elements/nogi softworks_sideways.svg" alt="nogi softworks">
    <img id="plusIco" src="/static/elements/loading_plusIco.svg">
</div>
<div class="flex flex-row items-center -mt-10" id="sloganTypeofShit">
    <img src="/static/elements/home_sloganArrow.svg">
    <p class="quicksand-font">Chuỗi Phần Mềm Siêu 
        <span class="relative">
            "Pro Vjp"
            <img class="absolute right-0 -mt-2 -rotate-2" src="/static/elements/home_underline.svg" alt="">
        </span>
    </p>
    <img src="/static/elements/oh ami gawd.png" alt="wow dats crazy" style="width: 10%;">

</div>
